{% extends '../base.html' %}
{% block content %}

<div class="card-deck" style="margin-top : 20px">
{% for i in object_list %}

<div class="card " style="width: 250px;length:250px;">
<div class="row">
<p  class="card-title text-left col"><b>{{i.title}}</b> </p><p  class="card-title col text-right"><b>{{i.price}}$</b> </p>
</div>
  <a href= 'Detail/{{i.slug}}'><img src="{{i.image.url}}"  class="card-img-top" style="width:250px;length:250px" alt="..."></a>
  <p class="text-center"></p>
</div>
    {% endfor %}
    </div>
{% endblock  %}
